video#bgVideo {
    opacity: .35;
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
   
    /*z-index: -100;  */  
    /*background-size: cover;
    background-position: center center;*/
} 

.destiny-tris {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .3;
}