
@media #{$small-only}{
	.img-link {
		img {
			max-width: 20%;
			display: inline-block;
			margin-right: 1em;
		}
		h4 {
			display: inline-block;
		}
	}
}



@media #{$medium-up}{
	.img-link {
		text-align: center;
		img {
			max-width: 80%;
			display: block;
			margin: 0px auto 20px auto;
		}
	}
}