
@media #{$large-up}{
	.overfade {
		position: relative;
		&:after {
			content: ' ';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 50%;
			right: 0px;
			background-image: linear-gradient(to right, transparent, #FFF);
		}
		&.overfade-left:after {
			left: 0px;
			right: 50%;
			background-image: linear-gradient(to left, transparent, #FFF);
		}
	}
}