.reveal-modal#video-modal {

	background: transparent;
	box-shadow: none;
	border: none;
	width: 100%;
	max-width: 100%; 

	.close-reveal-modal {
		cursor: pointer;
		&:hover {
			color: $green;
		}
	}

}

.reveal-modal.bg {
	background: rgba(0,0,0,.25);
}