// Looping background video
// 


.background-video {
	background: $gray url('../img/hatch.png');
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.bgvideoposter,
video#bgVideo {
    opacity: .5;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
   
    /*z-index: -100;  */  
    /*background-size: cover;
    background-position: center center;*/
    transition: opacity 1s;
    &.fadeout{
        opacity: 0; 
    }

}

.ztop {
    z-index: 2000;
}

.hatch-overlay {
	content: '';
	background-image: url('../images/hatch.png');
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
}

@keyframes grow {
    from {transform: translateX(-50%) translateY(-50%) scale3d(1,1,1);}
    to {transform: translateX(-50%) translateY(-50%) scale3d(1.2,1.2,1.2);}
}

.bgvideoposter {
    animation-name: grow;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transform: translateX(-50%) translateY(-50%) scale3d(1.2,1.2,1.2);

}

#video-play {
    font-size: 50px;
    z-index: 3000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 50%;
    padding: 0px 50px;
    color: $white;
    transition: .3s;
    background-color: $magenta;

    &:hover {
        background-color: #FF0077;
        padding: 5px 55px;
        margin-top: -5px;
    }

    i[class*="fi-"] {
        padding: 0px;
    }

    &.with-content {
        position: relative;
        top: auto;
        left: auto;
        display: inline-block;
        transform: none;
        &:hover {
            transform: none;
        }
    }
}

#video-modal {
    z-index: 3000;
}

#time {
	a {
		color: $mint;
	}
}

section.auto-height {
	min-height: auto;
	height: auto;
}


