input,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {

	outline: none;
	border: none;
	box-shadow: none;

	border: 2px solid $primary-color;


}

input[type="submit"] {
	background-color: $magenta;
	&:hover {
		background-color: #FF0077;
	}
}